@model List<Route>

<div class="d-flex justify-content-between mb-4">
    <h2 class="me-4">Список маршрутов</h2>
    <a asp-controller="Route" asp-action="Upsert" class="btn btn-primary">Создать</a>
</div>

<table id="tblData" class="table table-bordered table-striped pt-4" style="width: 100%">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Место отправления</th>
            <th>Место назначения</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/route.js"></script>
} 